body{
    background-color: #E5E5E5;
    width: 95vw;
    height: 100vh;
}
main{
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
.principal {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.principal textarea {
    width: 60%;
    height: 30%;
    resize: none;
    border: none;
    background-color: #E5E5E5;
    padding-top: 30px;
    font-size: xx-large;

}
.principal textarea:focus {
    border: none;
    outline: 0;
}
.principal textarea::placeholder {
    color: #0A3871;
}

.secundaria{
    border: 1px solid white;
    background-color: white;
    width: 30%;
    height: 95%;
    margin-left: 56px;
    border-radius: 32px;
    display: flex;
    align-items: center;
}
.bloco-estatico {
    color: #343A40;
    text-align: center;
}
.texto {
    color: #495057;
}
.imagem img{

    margin-left: 50px;
    width: 20px;

    
}

button {
    background: #0A3871;
    width: 230px;
    border-radius: 24px;
    height: 67px;
    color: white;
    border: 0;
}
.botão-descriptografar {
    background-color: #EFF1FA ; 
    border: 1px solid #0A3871;
    color: #0A3871;
}
button:hover {
    background-color: #072B61;
    transition: 1s;
}
.botão-descriptografar:hover {
    background-color: #D8DFE8;
    transition: 1s;
}
.limpar {
    width: 55px;
    border-radius: 24px;
    height: 20px;
    background-color: gray;
    border: 0;
}
    
.caracter {
    color: #495057;
    opacity: 0.8;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.bloco-retorno {
    text-align: center;
}
.bloco-retorno button {
    background-color: white; 
    border: 1px solid #0A3871;
    color: #0A3871;
}
.bloco-retorno button:hover {
    background-color: #D8DFE8;
    transition: 1s;
}
#resultado {
    height: 35vw;
    margin-bottom: 10px;
    border: 0;
    resize: none;
    color: #495057;
    font-size: large;
}
#resultado:focus {
    border: none;
    outline: 0;
}
footer{
    color: #495057;
    opacity: 0.8;
    text-align: center;
}

@media(max-width: 1174px) {
    main{
        flex-direction: column;
        height: auto;
    }
    .principal{
        width: 100%;
    }
    .principal textarea{
        font-size: large;
        height: 29vh;
    }
    .secundaria img {
        display: none;
    }
    .secundaria{
        width: 100%;
        margin-left: 0;
    }
    button {
        margin-bottom: 0.6rem;
        width: 93vw;
    }
    #resultado {
        width: 81%;
        height: 3%;
    }
    #copiado {
        width: 75vw;
    }
    .bloco-retorno {
        margin-bottom: 33px;
        padding-top: 3rem;
    }
    .bloco-estatico {
        width: 95%;
    }
}
@media(min-width: 500px) and (max-width: 1174px) {
    button {
        width: 46vw;
    }

}